$color-white: #fff;
$color-dark-gray: #242626;
$color-light-gray: #eceff4;
$color-light-gray-2: #dedfdf;
$color-light-gray-3: #bdbfbf;
$color-light-gray-4: #595f60;
$color-light-gray-5: #7a7f80;
$color-purple: #4c396f;
