@import '../../../styles/variables';

.delete-planet-wrapper {
  background-color: $color-white;
  text-align: center;
  padding: 28px 70px;

  img {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }

  h3 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    color: $color-dark-gray;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
    color: $color-dark-gray;
  }

  .delete-button-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
