<form class="new-planet-form">
  <h2>New Planet</h2>
  <div class="new-planet-form-row photo">
    <label for="name">Photo</label>
    <p>dummy change</p>
    @if(form.controls.imageUrl.value) {
    <span>{{ form.controls.imageUrl.value.name }}</span>
    }
    <button class="button" type="button">
      Browse...
      <input id="photo" type="file" (change)="onFileSelected($event)" />
    </button>
  </div>
  <div class="new-planet-form-row">
    <label for="planetName">Name</label>
    <mat-form-field>
      <input id="planetName" matInput [formControl]="form.controls.planetName" />
    </mat-form-field>
  </div>
  <div class="new-planet-form-row">
    <label for="description">Description</label>
    <mat-form-field>
      <input id="description" matInput [formControl]="form.controls.description" />
    </mat-form-field>
  </div>
  <div class="new-planet-info-row">
    <div class="new-planet-form-row">
      <label for="planetRadiusKM">Radius in km</label>
      <mat-form-field>
        <input id="planetRadiusKM" matInput [formControl]="form.controls.planetRadiusKM" />
      </mat-form-field>
    </div>
    <div class="new-planet-form-row">
      <label for="fromSun">Dist. from Sun</label>
      <mat-form-field>
        <input id="fromSun" matInput [formControl]="form.controls.fromSun" />
      </mat-form-field>
    </div>
    <div class="new-planet-form-row">
      <label for="planetColor">Color</label>
      <mat-form-field>
        <input id="planetColor" matInput [formControl]="form.controls.planetColor" />
      </mat-form-field>
    </div>
    <div class="new-planet-form-row">
      <label for="fromEarth">Dist. from Earth</label>
      <mat-form-field>
        <input id="fromEarth" matInput [formControl]="form.controls.fromEarth" />
      </mat-form-field>
    </div>
  </div>
  <div class="form-button-wrapper">
    <button class="button dark-blue" type="button" (click)="submitForm()">{{ planetData ? 'Confirm' : 'Create' }}</button>
    <button class="button secondary" type="button" (click)="closeDialog()">Cancel</button>
  </div>
</form>
