@let pageData = pageData$ | async; @if(pageData) {

<header>
  <app-container>
    <h2>{{ pageData.planetName }}22</h2>
    <div>
      <button></button>
      <button></button>
    </div>
  </app-container>
</header>
<app-container>
  <div>
    <div>
      <img src="" alt="" />
      <div>
        <h3></h3>
        <p></p>
      </div>
    </div>
    <div>
      <div>
        <h4></h4>
        <span></span>
      </div>
      <div>
        <h4></h4>
        <span></span>
      </div>
      <div>
        <h4></h4>
        <span></span>
      </div>
      <div>
        <h4></h4>
        <span></span>
      </div>
    </div>
  </div>
</app-container>
}
